.card {
    width: 440px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-primary-25);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sm {
    width: 300px;
}