.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.closed {
    display: none;
}

.modal {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-neutral-25);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    width: 440px;
    display: flex;
    justify-content: space-between;
}